<!-- Main jumbotron  -->
<div class="jumbotron">
  <div class="container maps">
    <div class="col-md-6">
      <iframe height="350" width="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=<%=  @query.zip1 %>&zoom=12&key=AIzaSyAwhD1JHhy6cvNNfd46avtwF4VODkGdA3A" allowfullscreen></iframe>
    </div>
    <div class="col-md-6">
      <iframe height="350" width="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=<%=  @query.zip2 %>&zoom=12&key=AIzaSyAwhD1JHhy6cvNNfd46avtwF4VODkGdA3A" allowfullscreen></iframe>
    </div>
  </div>
</div>
